<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
  <title>My Recipe App</title>
</head>
<body>

  <header>
    <h1>My Recipe App</h1>
    <form action="" class="search-recipes">
      <!-- <div class="search-recipes-input-container">
      </div> -->
      <label for="search-recipes-input">What meal are you looking for?</label>
      <input type="text" name="search-recipes-input" id="search-recipes-input" class="search-recipes-input" placeholder="Pasta al arrabiata...">
      <input type="button" value="Search" class="search-recipes-button btn-secondary">

      <input type="button" value="Show my saved recipes" class="show-recipes-button btn-secondary">
    </form>
  </header>
    
  <main>
    <section aria-label="Recipes" class="recipes-container">

    </section>
  </main>

  <script src="static/scripts/recipes-view.js"></script>
</body>
</html>
